<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- video4_config-->
    <bean id="configuration" class="com.example.springlearn.video4_config.bean.Configuration">
        <property name="properties">
            <props>
                <prop key="user">hello</prop>
                <prop key="password">world</prop>
            </props>
        </property>
    </bean>
</beans>